@import 'tailwindcss';
@import 'dockview/dist/styles/dockview.css';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--primary);
  text-decoration: inherit;
}
a:hover {
  color: var(--secondary);
}

/* button:hover {
  border-color: var(--primary);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.dockview-theme-tailwind {
  --dv-background-color: var(--background);
  --dv-paneview-active-outline-color: var(--ring);
  --dv-tabs-and-actions-container-font-size: 13px;
  --dv-tabs-and-actions-container-height: 35px;
  --dv-tab-close-icon: var(--muted-foreground);
  --dv-drag-over-background-color: var(--accent);
  --dv-drag-over-border-color: var(--accent-foreground);
  --dv-tabs-container-scrollbar-color: var(--muted-foreground);
  --dv-group-view-background-color: var(--card);
  --dv-tabs-and-actions-container-background-color: var(--card);
  --dv-activegroup-visiblepanel-tab-background-color: var(--card);
  --dv-activegroup-visiblepanel-tab-color: var(--primary-foreground);
  --dv-activegroup-hiddenpanel-tab-background-color: var(--card);
  --dv-activegroup-hiddenpanel-tab-color: var(--muted-foreground);
  --dv-inactivegroup-visiblepanel-tab-background-color: var(--muted);
  --dv-inactivegroup-visiblepanel-tab-color: var(--muted-foreground);
  --dv-inactivegroup-hiddenpanel-tab-background-color: var(--muted);
  --dv-inactivegroup-hiddenpanel-tab-color: var(--muted-foreground);
  --dv-tab-divider-color: var(--border);
  --dv-active-sash-color: var(--ring);
  --dv-separator-border: var(--border);
  --dv-paneview-header-border-color: var(--border);
  --dv-icon-hover-background-color: var(--accent);
  --dv-floating-box-shadow: 0px 4px 14px oklch(0 0 0 / 25%);
}

.dockview-theme-tailwind .dv-tab.dv-active-tab {
  color: var(--primary-foreground);
}

.dockview-theme-tailwind .dv-tab {
  color: var(--muted-foreground);
}

.u-label {
  color: var(--muted-foreground);
}
